fractal.json
apply.json
.pytest_cache/
__pycache__
*.cpython-*.pyc
*.env
.coverage
.python-version
*.db
dist/

output*
tmp_data
LOG_*
slurm-*.out
Local_backup
mprofile_*.dat

.nfs*
nohup
nohup.out

fractal.log
logs
site/

tests/data/slurm_docker_images/*/fractal_server_local.tar.gz

venv
.venv
tmp_*
.*.swp

ssh_config
ssh_config*
ssh_config.json
*ssh*key*


*.db-shm
*.db-wal

tests/data/slurm_docker_images/*/fractal_server_local.tar.gz
tests/data/slurm_docker_images/*/public_ssh_key
tests/data/ssh_config.json
*.egg-info

.DS_Store
Temporary_folder_for_regression_test/
monitoring.db
jobs/wf*
runinfo
mypy-scan

.coverage*
mock*.tar.gz
pixi_collection_test.sh

tmp-test-2.17-data-migration
