fractal.json
apply.json
.pytest_cache/
__pycache__
*.cpython-*.pyc
*.env
.coverage
.python-version
*.db
dist/

output*
tmp_data
LOG_*
slurm-*.out
Local_backup
mprofile_*.dat

.nfs*
nohup
nohup.out

fractal.log
logs
site/

tests/data/slurm_docker_images/node/fractal_server_local.tar.gz

venv
tmp_*
.*.swp
