site_name: Fractal Analytics Platform

repo_url: https://github.com/fractal-analytics-platform/fractal-server
repo_name: fractal-server@github

extra_css:
  - css/mkdocstrings.css

markdown_extensions:
- admonition
  #- callouts
- pymdownx.details
- pymdownx.emoji
- pymdownx.magiclink
- pymdownx.snippets:
    check_paths: true
- pymdownx.superfences
- pymdownx.tabbed:
    alternate_style: true
- pymdownx.tasklist
- toc:
    permalink: true

theme:
  name: "material"
  custom_dir: "docs/overrides"
  features:
  - content.code.annotate
  palette:
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: teal
    accent: purple
    toggle:
      icon: material/weather-sunny
      name: Switch to dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: black
    accent: lime
    toggle:
      icon: material/weather-night
      name: Switch to light mode

nav:
  - Home page: index.md
  - Install and deploy: install_and_deploy.md
  - Configuration: configuration.md
  - Users: users.md
  - Internals: internals/
  - Code reference: reference/
  - Changelog: changelog.md
  - Web API: openapi.md
  - Contribute: contribute.md

watch:
  - fractal_server

plugins:
  - search
  - autorefs
  - gen-files:
      scripts:
        - docs/gen_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index
  - mkdocstrings:
      handlers:
        python:
          options:
            show_signature_annotations: false
            docstring_section_style: "table"
            filters: []
  - render_swagger
