name: alembic-check

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main", "dev"]

permissions: {}

jobs:

  alembic-check:

    name: "alembic check"
    runs-on: ubuntu-24.04
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Start Postgres
        run: |
          sudo systemctl start postgresql.service
          sudo --login -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'postgres';"
          sudo --login -u postgres createdb fractal_test

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.17"
          enable-cache: true

      - run: uv sync --frozen --group dev

      - name: Test with pytest
        env:
          JWT_SECRET_KEY: some_secret
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: fractal_test
        run: |
          cd fractal_server
          uv run --frozen fractalctl set-db
          uv run --frozen run alembic check
