name: Benchmarks

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:

  benchmark_api:
    name: Benchmarks
    runs-on: ubuntu-24.04

    steps:

     - uses: actions/checkout@v5

     - name: Start Postgres
       run: |
          sudo systemctl start postgresql.service
          sudo --login -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'postgres';"
          sudo --login -u postgres createdb fractal_test

     - name: Install poetry
       run: pipx install poetry==2.2.1

     - name: Set up Python 3.12
       uses: actions/setup-python@v5
       with:
        python-version: "3.12"
        cache: "poetry"

     - name: Install dependencies
       run: poetry install --with dev --no-interaction

     - name: Run Fractal with Gunicorn
       run: |
        export POSTGRES_DB=fractal_test
        export POSTGRES_PASSWORD=postgres
        export POSTGRES_USER=postgres
        export POSTGRES_HOST=localhost
        export JWT_SECRET_KEY=secret
        export JWT_EXPIRE_SECONDS=84600
        cd benchmarks/
        poetry run fractalctl set-db
        poetry run fractalctl init-db-data --create-default-group --resource default --profile default --admin-email admin@example.org --admin-pwd 1234 --admin-project-dir "$(pwd)/project-dir"
        poetry run python populate_db/populate_db_script.py
        poetry run sh serve.sh

     - name: Benchmark
       run: |
        cd benchmarks/
        poetry run python api_bench.py

     - name: Print logs stderr
       run: cat benchmarks/fractal-server.err

     - name: Print logs stdout
       run: cat benchmarks/fractal-server.out


     - name: Add comment with preview
       uses: mshick/add-pr-comment@v2
       with:
         message-path: |
            benchmarks/bench_diff.md

     # commit on benchmark-api removing bench_diff.html
     - uses: stefanzweifel/git-auto-commit-action@v5
       if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
       with:
         commit_message: Update bench.html & bench.json
         branch: benchmark-api
         commit_options: '--no-verify'
         push_options: '--force'
         skip_checkout: true
         file_pattern: 'benchmarks/bench.html benchmarks/bench.json'

  benchmark_runner:
    if: false
    name: Benchmark Runner
    runs-on: ubuntu-24.04

    steps:

     - uses: actions/checkout@v5
       with:
        persist-credentials: false

     - name: Start Postgres
       run: |
          sudo systemctl start postgresql.service
          sudo --login -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'postgres';"
          sudo --login -u postgres createdb fractal_test

     - name: Install poetry
       run: pipx install poetry==2.2.1

     - name: Set up Python 3.12
       uses: actions/setup-python@v5
       with:
        python-version: "3.12"
        cache: "poetry"

     - name: Install dependencies
       run: poetry install --with dev --no-interaction

     - name: Benchmark
       run: |
        cd benchmarks/runner/
        poetry run python benchmark_runner.py
