name: Benchmarks

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:

  benchmark_api:
    name: Benchmarks
    runs-on: ubuntu-24.04

    steps:

     - uses: actions/checkout@v5
       with:
         persist-credentials: false

     - name: Start Postgres
       run: |
          sudo systemctl start postgresql.service
          sudo --login -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'postgres';"
          sudo --login -u postgres createdb fractal_test

     - name: Set up Python 3.12
       uses: actions/setup-python@v5
       with:
        python-version: "3.12"

     - uses: astral-sh/setup-uv@v6
       with:
        version: "0.9.17"
        enable-cache: true

     - run: uv sync --frozen --group dev

     - name: Run Fractal with Gunicorn
       run: |
        export POSTGRES_DB=fractal_test
        export POSTGRES_PASSWORD=postgres
        export POSTGRES_USER=postgres
        export POSTGRES_HOST=localhost
        export JWT_SECRET_KEY=secret
        export JWT_EXPIRE_SECONDS=84600
        export FRACTAL_DEFAULT_GROUP_NAME=All
        cd benchmarks/
        uv run --frozen fractalctl set-db
        uv run --frozen fractalctl init-db-data --resource default --profile default --admin-email admin@example.org --admin-pwd 1234 --admin-project-dir "$(pwd)/project-dir"
        uv run --frozen python populate_db/populate_db_script.py
        uv run --frozen sh serve.sh

     - name: Benchmark
       run: |
        cd benchmarks/
        uv run --frozen python api_bench.py

     - name: Print logs stderr
       run: cat benchmarks/fractal-server.err

     - name: Print logs stdout
       run: cat benchmarks/fractal-server.out


     - name: Add comment with preview
       uses: mshick/add-pr-comment@v2
       with:
         message-path: |
            benchmarks/bench_diff.md

     # commit on benchmark-api removing bench_diff.html
     - uses: stefanzweifel/git-auto-commit-action@v5
       if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
       with:
         commit_message: Update bench.html & bench.json
         branch: benchmark-api
         commit_options: '--no-verify'
         push_options: '--force'
         skip_checkout: true
         file_pattern: 'benchmarks/bench.html benchmarks/bench.json'
