name: ci python 3.13

on:
  workflow_dispatch:
  schedule:
    - cron: "0 23 * * 2"

permissions: {}

jobs:

  tests:

    name: "V2 - Python 3.13"
    runs-on: ubuntu-24.04
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Start Postgres
        run: |
          sudo systemctl start postgresql.service
          sudo --login -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'postgres';"
          sudo --login -u postgres createdb fractal_test

      - name: Install poetry
        run: pipx install poetry==2.2.1

      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: 3.13
          cache: "poetry"

      - name: Install dependencies
        run: |
          poetry install --with dev --no-interaction

      - name: Test with pytest
        run: poetry run pytest -vv --durations 0 -m "no oauth"
