name: docs

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  JWT_SECRET_KEY: fake
  POSTGRES_DB: fake
  OAUTH_CLIENT_NAME: oauth2-example
  OAUTH_CLIENT_ID: oidc_example_client_id
  OAUTH_CLIENT_SECRET: oicd_example_client_secret
  OAUTH_OIDC_CONFIG_ENDPOINT: https://accounts.google.com/.well-known/openid-configuration

jobs:

  docs:
    name: "Deploy docs"
    runs-on: ubuntu-24.04
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}

    steps:
      - uses: GitHubSecurityLab/actions-permissions/monitor@v1
      - uses: actions/checkout@v5
        with:
          persist-credentials: true
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.17"
          enable-cache: true
      - run: uv sync --frozen --group docs
      - run: uv run --frozen fractalctl openapi -f docs/openapi.json
      - run: uv run --frozen mkdocs gh-deploy --config-file mkdocs.yml --force --verbose
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  docs-build:
    name: "Test docs build"
    runs-on: ubuntu-24.04
    if: ${{ github.event_name != 'push' || github.ref != 'refs/heads/main' }}
    permissions: {}

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.17"
          enable-cache: true
      - run: uv sync --frozen --group docs
      - run: uv run --frozen fractalctl openapi -f docs/openapi.json
      - run: uv run --frozen mkdocs build --config-file mkdocs.yml
