name: migrations

# Based on a dump of a existing postgresql database, valid for a given
# fractal-server version, apply current migrations and verify that they go
# through. The main goal is to identify cases where current data make a table
# definition invalid in a way that wouldn't be detected when starting from an
# empty database; typical example: a coulmn has a null value, and we later
# alter it to make it non-nullable.

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions: {}


env:
  # The DB `${ROOTDIR}/clean_db_fractal_${SOURCE_VERSION}.sql` is compatible
  # with the SOURCE_VERSION of fractal-server.
  # Here we test the script that upgrades the DB from SOURCE_VERSION to the
  #current version.
  SOURCE_VERSION: 2.18.1
  ROOTDIR: tests/data/testing_databases
  JWT_SECRET_KEY: fake

jobs:

  migrations:
    name: "Python ${{ matrix.python-version }}"
    runs-on: ubuntu-24.04
    timeout-minutes: 20

    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Start Postgres
        run: |
          sudo systemctl start postgresql.service
          sudo --login -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'postgres';"
          sudo --login -u postgres createdb fractal_test

      - name: Load database dump into postgres database
        env:
          PGPASSWORD: postgres
        run: psql -U postgres -h localhost -d fractal_test -f ${ROOTDIR}/clean_db_fractal_${SOURCE_VERSION}.sql

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.17"
          enable-cache: true

      - run: uv sync --frozen

      - name: Apply schema migration
        run: |
          cp $ROOTDIR/.fractal_server_postgres.env .fractal_server.env
          uv run --frozen fractalctl set-db

      - name: Apply data migration
        env:
          FRACTAL_DEFAULT_GROUP_NAME: All
        run: |
          cp $ROOTDIR/.fractal_server.env.old .
          echo -e "yes\nyes\nyes\nyes\nyes" | uv run --frozen fractalctl update-db-data

      - name: Validate new database
        env:
          FRACTAL_DEFAULT_GROUP_NAME: All
        run: uv run --frozen python scripts/validate_db_data_with_read_schemas.py

  downgrade:
    name: "Alembic downgrade"
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Start Postgres
        run: |
          sudo systemctl start postgresql.service
          sudo --login -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'postgres';"
          sudo --login -u postgres createdb fractal_test

      - uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.17"
          enable-cache: true

      - run: uv sync --frozen

      # We only run `alembic downgrade` until the specific revision that drops
      # V1 tables (rather than all the way to `base`), because that revision
      # is breakingly non-reversible
      - name: Apply upgrade and downgrade
        run: |
          cp $ROOTDIR/.fractal_server_postgres.env src/fractal_server/.fractal_server.env
          cd src/fractal_server
          uv run --frozen alembic history
          uv run --frozen alembic upgrade head
          uv run --frozen alembic downgrade 1eac13a26c83
