name: pip-install

on:
  push:
    branches: ["main", 'ihb-develop']
  pull_request:
    branches: ["main", 'ihb-develop', '3144-make-workflow-import-more-flexible']

permissions: {}

jobs:

  pip_install:

    strategy:
      matrix:
        os: [ubuntu-24.04, macos-latest]
        python-version: ["3.12", "3.13", "3.14"]

    name: "Core, Python ${{ matrix.python-version }}, ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - run: pip install -e .
