name: precommit

on:
  push:
    branches: ["main", 'ihb-develop']
  pull_request:
    branches: ["main", 'ihb-develop']

permissions: {}

jobs:
  precommit:
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"

      - uses: pre-commit/action@v3.0.1
